
// Fonts etc. --------------------------------------------------------------------------------
$font-body       : Merriweather, serif;
$font-headline   : Bree Serif, serif;


// common font stacks

$times-new-roman : "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$times           : Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
$georgia         : Georgia, "Times New Roman", "DejaVu Serif", serif;

$verdana         : Verdana, Tahoma, "DejaVu Sans", sans-serif;
$tahoma          : Tahoma, Verdana, "DejaVu Sans", sans-serif;
$helvetica       : Helvetica, Arial, "Nimbus Sans L", sans-serif;
$arial           : Arial, Helvetica, "Nimbus Sans L", sans-serif;

$courier         : "Courier New", "DejaVu Sans Mono", monospace, sans-serif;

// -------------------------------------------------------------------------------------------

//Font sizes are set in _typescale.scss

// Colors, etc. ----------------------------------------------------------------------

$lightgray      : #819090;
$gray           : #708284;
$mediumgray     : #536870;
$darkgray       : #475B62;
$darkblue       : #0A2933;
$darkerblue     : #042029;
$paleryellow    : #FCF4DC;
$paleyellow     : #EAE3CB;
$yellow         : #A57706;
$orange         : #BD3613;
$red            : #D11C24;
$pink           : #C61C6F;
$purple         : #595AB7;
$blue           : #2176C7;
$cyan           : #259286;
$green          : #738A05;




$default-border-radius : 10px;


// Legacy IE support ----------------------------------------------------------------------

$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: true;

// To turn on support for IE6 or IE7, set those variables to true.
// the documentation at http://compass-style.org/reference/compass/support/